node_modules
.next
.env
.env.local
.env.*.local
/data/*.db
/data/*.db-*
/data/videos/*
!/data/videos/.gitkeep
npm-debug.log*
.DS_Store

tsconfig.tsbuildinfo
.do_config_*.md

/test-results/
/playwright-report/
/blob-report/
